html, body {
    height: 100%;
    margin: 0;
}

#wrapper {
    min-height: 100%;
    margin: 1rem 0;
    padding: auto 0;
}

html {
  font-size: 12px;
}

body {
  line-height: 1.85;
}

p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

h1, h2, h3, h4,{
  margin: 1.414rem 0 .5rem;
  font-weight: inherit;
  line-height: 1.42;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
  /* padding: 4rem 0 0; */
}

h2 {
  font-size: 2.827rem;
}

h4 {
  font-size: 18px;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: #444;
  font-family: 'Merriweather', Georgia, serif;
  margin: 0;
  max-width: 100%;
}

li {
  /* margin-left: 2rem; */
}


p {
  color: #555;
  height: auto;
  line-height: 1.45;
}

a {
  font-weight: 100;
  text-decoration: none;
  color: #0498e0;
  -webkit-transition: .25s;
  transition: .25s;
}

a:hover {
  text-decoration: underline;
  color: #00699d;
  -webkit-transition: .25s;
  transition: .25s;
}

.notIframe {
  margin: 1rem auto 1rem;
  max-width: 36rem;
  padding: .25rem;
}

iframe {
  width: 100%;
  height: 600px;
}

.iframe {
  margin: 1rem 5vw;
  padding: auto;
}

.mobileShow {display: none;}

@media only screen and (max-width: 475px){

  .mobileHide{ display: none; }

  .mobileShow { display: inline; }

  iframe {
    width: 0;
    height: 0;
    margin: 0;
  }

  img {
    width: 100%;
    margin: 0;
    padding: 0 auto;
  }

  h1 {
    font-size: 2rem;
    margin: 2rem 0 .5rem;
    line-height: 1.42;
  }

  h2 {
    font-size: 1.5rem;
    margin: .5rem 0 .25rem;
  }

  li {
    margin-left: 0;
  }

  .notIframe {
    margin: 1rem;
  }

  .iframe {
    margin: 0;
    padding: auto;
  }
}
